#mainDiv {
  border: 1px solid black;
  background-color: aquamarine;
  width: 700px;
  height: 700px;
  display: flex;
  /* gap: 10px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subDiv {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: blueviolet;
}
