*{
    margin: 0;
    padding: 0;
}
.container{
    width: 90%;
    margin: 2% auto;
    height: 80vh;
    display: flex;
    align-items: center;
    gap: 100px;
}
.img{
    height: 100%;
    width: 500px;
    object-fit: cover;
    object-position: top;
}
.form{
    
}

h1{
    border-bottom: 2px solid red;
    text-align: center;
    padding-bottom: 10px;
}

.formFields{
    display: grid;
    grid-template-columns: 200px 300px;
    margin-top: 20px;
    gap: 10px;
    input{
        width: 120px;
    }
}

input{
    padding: 5px 10px;
}

.innerDiv{
    display: flex;
    justify-content: space-between;
}