*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bulb{
    width: fit-content;
    margin: 10px;
    padding: 50px;
    border: 1px solid black;
    border-radius: 50%;
}
.btns{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    justify-items: center;
    align-items: center;
}
button{
    padding: 10px 20px;
    cursor: pointer;
}
.bulbs{
    display: flex;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.smartBulb{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#smartBulb{
    height: 100px;
    aspect-ratio: 1;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.on{
    background-color: yellow;
}