@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --fadeText: darkgray;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  margin-top: 12vh;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  vertical-align: middle;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  margin: 0 auto;
  height: 12vh;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  z-index: 999;
}

nav p {
  font-weight: bold;
  font-size: x-large;
}

.mid {
  gap: 25px;
}

ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav button {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}

.end button {
  padding: 12px 20px;
  font-weight: 600;
}

#blocksBtn {
  background-color: black;
  color: white;
  border-radius: 10px;
}

.container {
  margin: auto;
  margin-top: 10%;
  width: 92%;
}

.div1 {
  display: flex;
  justify-content: space-between;
}

.section1 {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-top: 10%;
}

.section1 h2 {
  font-size: 45px;
}

.section1 .text-p {
  font-size: 20px;
  color: var(--fadeText);
  word-spacing: 4px;
  line-height: 30px;
  margin: 20px 0;
}

.fade {
  color: var(--fadeText);
}

.section1 .fade #terms {
  text-decoration: underline;
}

.section2 img {
  width: 640px;
  height: 576px;
  object-fit: cover;
  border-radius: 20px;
}

.email .inner {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.email input {
  padding: 14px;
  width: 60%;
  border: 1px solid var(--fadeText);
  border-radius: 5px;
}

.email button {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
}

.div2 {
  text-align: center;
  margin: 10% 0;
  p {
    font-size: large;
    font-weight: bold;
    margin-bottom: 20px;
  }
}
.clients {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;

  img {
    width: 150px;
  }
}

.div3 {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

.div3 h2 {
  font-size: 45px;
  margin: 16px 0 28px 0;
}

.div3 .fade {
  font-size: 20px;
  word-spacing: 2px;
  line-height: 30px;
}

.cardContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10%;
}

.logo {
  background-color: black;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  .material-symbols-outlined {
    color: white;
  }
}

.cardContainer {
  .heading {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
  }
  .description {
    color: var(--fadeText);
    line-height: 22px;
    font-size: medium;
    word-spacing: 4px;
  }
}

.div4 {
  margin: 20% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div4 h2 {
  font-size: 45px;
  margin: 16px 0 28px 0;
}

.div4 .fade {
  width: 54%;
  text-align: center;
  font-size: 22px;
  word-spacing: 4px;
  line-height: 30px;
  margin-bottom: 10%;
}

.card button {
  padding: 8px 10px;
  font-weight: bold;
  background-color: black;
  border-radius: 10px;
  color: white;
  margin: 24px 0;
}
.div4 .cardContainer {
  grid-template-columns: auto auto auto auto;
  gap: 5%;
}
.div4 .card img {
  width: 100%;
}

.div5 {
  display: flex;
  gap: 30%;
  button {
    border: none;
    background-color: inherit;
    font-weight: bold;
    font-size: small;
    margin: 20px;
  }
  p {
    word-spacing: 2px;
    line-height: 25px;
  }
}

.section5a {
  width: 32%;
  h2 {
    font-size: 40px;
    margin: 20px 0;
  }
}

.section5b .innerResume {
  display: flex;
  margin: 25px 0;
}

.section5b .logoDiv {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 10px;
  color: white;
  background-color: #000;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div6 {
  margin: 12% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 40px;
    margin: 16px 0 28px 0;
  }
}

.div6 .fade-p {
  width: 50%;
  text-align: center;
  font-size: 20px;
  word-spacing: 4px;
  line-height: 30px;
  margin-bottom: 10%;
  color: var(--fadeText);
}

.review {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.reviewInfo {
  width: 45%;
  .fade {
    line-height: 30px;
  }
  h4 {
    line-height: 50px;
    word-spacing: 2px;
    font-size: 40px;
    margin-bottom: 10px;
  }
  .bold {
    font-weight: bold;
    margin: 20px 0 8px 0;
  }
}

.reviewer {
  margin-top: 20px;
  button {
    border: none;
    width: 70px;
    background-color: inherit;
    border-right: 1px solid var(--fadeText);
  }
  img {
    width: 40px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 5px;
  }
}

.fadeImg {
  filter: opacity(0.5);
}
.reviewInfo .endImg {
  border-right: none;
}

.reviewImg img {
  width: 288px;
  height: 336px;
  object-fit: cover;
  border-radius: 20px;
}

.div7 {
  text-align: center;
  margin: 15% 0;
  filter: grayscale(100%);
  p {
    font-size: large;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 35px;
    width: 30%;
    margin: auto;
    margin-bottom: 30px;
  }
}

.div8 {
  margin-bottom: 10%;
  h2 {
    font-size: 45px;
    text-align: center;
  }
  .center-p {
    width: 48%;
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    margin: 0 auto;
    margin-top: 20px;
  }
}

.contact {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
  display: flex;
  gap: 5%;
  margin-top: 20px;
  border-radius: 20px;
}

.section8a {
  background-color: black;
  color: white;
  width: 38%;
  padding: 5% 0 5% 5%;
  border-radius: 10px;
  h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .contact-p {
    width: 90%;
    margin-bottom: 5%;
  }
  .box {
    display: flex;
    align-items: center;
    margin: 8px 0;
  }
  .icon {
    font-size: 30px;
    margin-right: 10px;
  }
}

.section8b {
  flex: 1;
  .nameContainer {
    display: flex;
    justify-content: space-between;

    .name {
      display: flex;
      flex-direction: column;
      width: 40%;
    }
  }
  .email {
    width: 100%;
    display: flex;
    flex-direction: column;
    input {
      border: none;
      border-bottom: 1px solid var(--fadeText);
      width: 100%;
    }
  }
  input {
    border: none;
    border-bottom: 1px solid var(--fadeText);
    padding: 10px 0;
    margin-top: 4px;
  }
  .field {
    margin: 20px 0;
  }
}

.interested .btns {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  input {
    margin-right: 5px;
  }
}

.messages {
  textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--fadeText);
    resize: none;
    margin-top: 20px;
  }
}

.send {
  display: flex;
  justify-content: end;
  button {
    padding: 12px 18px;
    font-weight: bold;
    background-color: black;
    border-radius: 10px;
    color: white;
    margin: 24px 0;
    margin-left: auto;
  }
}
.footer {
  
  width: 80%;
  position: absolute;
  bottom: 0;
}
.div9 {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--fadeText);
  width: 90%;
  padding: 20px 0;
  margin: 0 auto;
}
.footerUl {
  list-style: none;
  display: flex;
  gap: 15px;
  align-items: center;
}
.footerBtn {
  border: none;
  background-color: inherit;
}
.subscribeBtn {
  padding: 12px 18px;
  font-weight: bold;
  background-color: black;
  border-radius: 10px;
  color: white;
}
