h1 {
  border: 1px solid black;
  width: 200px;
}

h1:hover {
  width: 400px;
  transition: width 3s;
}

.outer {
  width: 500px;
  height: 50px;
  border: 1px solid black;
}
.inner {
  background-color: red;
  height: 50px;
  width: 5px;
}

.outer:hover {
  .inner {
    width: 500px;
    background-color: green;
    transition: width 5s linear, background-color 5s linear;
    /* transition: all 5s linear; */
  }
}

.outer1 {
  width: 500px;
  height: 50px;
  border: 1px solid black;
  margin-top: 10px;
}

.inner1 {
  background-color: red;
  height: 50px;
  width: 5px;
}

.outer1:hover {
  .inner1 {
    animation: animation1 5s linear;
  }
}

.outer3{
    margin-top: 20px;
    position: relative;
    width: 300px;
    aspect-ratio: 1;
}

.inner3{
    width: 50px;
    aspect-ratio: 1;
    position: absolute;
    background-color: red;
}



.outer3:hover{
    .inner3{
        animation: animation2 5s linear;
    }
}

.box{
    width: 50px;
    aspect-ratio: 1;
    position: absolute;
    top: 0;
    background-color: green;
    animation: animation2 5s linear infinite;
}

/* Animation */

@keyframes animation1 {
  0% {
    width: 0%;
    background-color: red;
  }
  50% {
    width: 50%;
    background-color: yellow;
  }
  100% {
    width: 100%;
    background-color: green;
  }
}


@keyframes animation2 {
    0%{
        top: 0;
        left: 0;
        
    }
    25%{
        top: 0;
        left: 200px;
        background-color: blue;
    }
    50%{
        top: 200px;
        left: 200px;
        background-color: rgb(103, 157, 99);
    }
    75%{
        top: 200px;
        left: 0;
        background-color: rgb(207, 61, 163);
    }
    100%{
        top: 0;
        left: 0;
        background-color: rgb(0, 195, 255);
    }
}

