body {
  overflow-x: hidden;
}
.box {
  padding: 20px 0;
  width: 40%;
}
.marg {
  margin: 0 80px;
}
.inner {
  width: 100px;
}

nav {
  position: relative;
}

.button {
  position: absolute;
  right: 2%;
}
input {
  max-width: 100%;
}
.animate {
  animation: spin 0.2s;
}

.info,
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 770px) {
  img {
    width: 100px;
    height: 100px;
  }
  .marg {
    margin: 0;
  }
}

@media (max-width: 550px) {
  .marg {
    margin: 0;
  }
  .info {
    width: 90%;
    padding: 50px 10px !important;
  }
}

@media (max-width: 470px) {
  img {
    width: 50px;
    height: 50px;
  }
  .main button {
    padding: 10px 20px !important;
  }
}

@media (max-width: 350px) {
  img {
    width: 50px;
    height: 50px;
  }
  .main button {
    padding: 5px 10px !important;
  }
  .inner {
    width: 100px;
  }
}
