#content{
    height: 90vh;
}

#image{
    max-width: 100%;
    max-height: 100%;
    filter: g;

}

#workSpace{
    position: relative;
    
}

/* #workSpace label{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */