.red{
    color: red;
}
.green{
    color: green;
}
.blue{
    color: blue;
}
.bgPink{
    background-color: pink;
}
.bgViolet{
    background-color: skyblue;
}
.bgGreen{
    background-color: greenyellow;
}