body {
  background-image: linear-gradient(
    to right bottom,
    #0d6af6,
    #0083fd,
    #0099fb,
    #00abf4,
    #12bbeb
  );
  overflow: hidden;
  color: white;
}
header {
  min-height: 10vh;
}
main {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inp {
  padding: 10px 10px;
  border-radius: 10px;
  border: 2px solid white;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.572);
}

.box {
  width: 50%;
  min-height: 75vh;
}

@media (max-width: 800px) {
  .box {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .box {
    width: 90%;
    min-height: 50vh;
    padding: 30px 10px !important;
    p,
    label {
      font-size: large !important;
    }
  }
}
