:root {
  --primary: blue;
  --secondary: gray;
  --tertiary: rgb(84, 84, 84);
  --text: whitesmoke;
  --sb: space-between;
}

* {
  margin: 0;
  padding: 0;
}
.navBar {
    --abc:center;
  border: 1px solid black;
  background-color: var(--primary);
  color: var(--text);
  padding: 10px 50px;
  display: flex;
  justify-content: var(--sb);
  align-items: var(--abc);
  position: sticky;
  top: 0;
}

.links {
  display: flex;
  gap: 20px;
}

.btn {

  padding: 10px 20px;
  background-color: green;
  border-radius: 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: white;
}

.d2 {
  width: 600px;
  height: 500px;
  border: 1px solid black;
  background-color: aqua;
  position: relative;
}

.btn2 {
  padding: 10px 20px;
  background-color: pink;
  border-radius: 10px;
  color: white;
  position: absolute;
  top: 20px;
  left: 300px;
}
