*{
    margin: 0;
    padding: 0;
}
.navBar{
    border: 1px solid black;
    background-color: blue;
    color: aliceblue;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.links{
    display: flex;
    gap: 20px;
}

.btn{
    padding: 10px 20px;
    background-color: green;
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}